.bg-container{
    background-size: cover;
    padding:10px;
    padding-left:70px;
    padding-right:70px;
}
@media screen and (max-width:700px){
    .bg-container{
        background-size: cover;
        padding:10px;
        padding-left:40px;
        padding-right:40px; 
    }
}
.horizontal-line{
    border:0.5px solid ;
    opacity:0.3;  
}
.title-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:700px){
    .title-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}
.tag-line{
    font-family:"sans-serif";
    font-size: 50px;
    text-align: center;
}
@media screen and (max-width:700px){
    .tag-line{
        font-size: 35px;
    }
    .description{
        font-size: 15px;
        max-width: max-content;
    }
}
.description{
    font-size: 22px;
    max-width: 700px;
    text-align: center;
}
.product-filter-bar{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.filter-container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
}
.item-count{
    font-weight: 500;
}
.show-hide-filterbutton{
    display:flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    background-color: transparent;
    gap:1rem;
    cursor:pointer;
}
.filter-dropdown{
    border-style: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 400;
    outline: none;
}
.filter-for-mobile-view{
    display:none;
}
.filter-separator-for-mobile-view{
    display:none;
}
@media screen and (max-width:700px){
    .filter-container{
        display:none
    }
    .filter-for-mobile-view{
        display:flex;
    }
    .filter-separator-for-mobile-view{
        display:flex;
    }
}
.product-section{
    display:flex;
    
}
.filter-panel{
    margin-right:20px;
}
@media screen and (max-width:700px){
    .filter-panel{
        display:none;
    }
}
.filter-panel-display{
    display:none
}
.filter-name{
    font-weight: 500;
}
.filter-arrow{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:6rem;
}
.arrow-button{
    border-style:none;
    background-color: transparent;
    cursor:pointer;
}
.filter-category-container{
    display:flex;
    flex-direction: column;  
}
.display-filter{
    display:none;
}
.product-card-container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type:none;
}
.footer-bg-container{
    background-color: #000000;
    background-size: cover;
    padding:60px;
    padding-left:120px;
    padding-right:120px;
}